body{
    background-color: white;
    font-family: 'Alata', sans-serif;
}
#background{
    width: 100%;
    position: fixed;
    top: 4vw;
    z-index: -100;
}
h1, h3{
    text-align: center;
    color: white;
    font-family: 'Alata', sans-serif;
    text-shadow:0 0 3px #7A7A7A;
}
h1{
    font-size: 2vw;
}
nav{
    height: 2vw;
    position: fixed;
}
#nav_header{
    top: 0vw;
    background-color: white;
    border-radius: 10px;
}
header nav ul li a:hover{
    color: #7A7A7A;
}
nav ul li{
    list-style-type: none;
    display: inline-flex;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
}
#meetic{
    width: 10%;
    margin-top: 3px;
}
#bandeau{
    position: fixed;
    top: 4vw;
    z-index: -5;
    background-color: #e3ffff;
    padding: 3vw 0vw 3vw 0vw;
}
.container{
    border-radius: 20px;
    background: rgb(217, 217, 217, 0.5);
    width: 40vw;
    height: 38vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    padding: 2vw;
    position: relative;
    z-index: 100;
}
form{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    font-size: 0.8vw;
}
select{
    font-family: inherit;
    width: 82.5%;
    border: 5px;
    border-bottom: 2px solid gray;
    outline: 0px;
    font-size: 1rem;
    color: black;
    padding: 7px 0px;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
}
input{
    font-family: inherit;
    width: 80%;
    border: 5px;
    border-bottom: 2px solid gray;
    font-size: 1rem;
    color: black;
    padding: 5px 3px;
    background: transparent;
}
input:hover{
    color: white;
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
}
a{
    text-decoration: none;
    color: black;
    margin-left: 5vw;
}
.container_index a:hover{
    color: white;
}
#naissance{
    color: rgba(0, 0, 0, 0.5);;
}

.form-section{
    display: flex;
}
.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}
.form-group label{
    width: 150px;
    color: black;
}
.form-group input{
    margin-top: 5px;
}
#loisir1, #loisir2, #loisir3{
    margin-top: 20px;
    margin-right: 3.5vw;
    width: 41.5%;
}
.subscrib{
    width: 15vw;
    height: 2vw;
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid black;
    border-radius: 20px;
    margin: 0vw 0vw 0vw 12vw;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: 0em 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #4ef18f;
    transition: all 0.15s;
}

.subscrib:hover{
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
    color: white;
    border-color: white;
}
.connec{
    margin-left: 32vw;
}
.connec:hover{
    color: white;
}
.alert-danger{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 1vw;
    width: 25vw;
    border-radius: 1vw;
    border: 1px solid white;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 0;
}
.alert-danger_co{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 1vw;
    width: 25vw;
    border-radius: 1vw;
    border: 1px solid white;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}
.alert-danger_signup{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 1vw;
    width: 25vw;
    border-radius: 1vw;
    border: 1px solid white;
    margin-top: -10.5vw;
    margin-left: 6.5vw;
    position: fixed;
    z-index: 0;
}
.alert-succes_co{
    background-color: rgba(0, 255, 0, 0.5);
    color: white;
    padding: 1vw;
    width: 25vw;
    border-radius: 1vw;
    border: 1px solid white;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}
footer nav{
    height: 1.5vw;
    bottom: 0vw;
    background: #e3ffff;
    width: 100%;
}
footer nav p{
    margin: 2px 0px 0px 15px;
}