.container_edit{
    border-radius: 20px;
    background: rgb(217, 217, 217, 0.5);
    width: 30vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    padding: 2vw;
    position: relative;
    z-index: 100;
}
.form-edit {
    position: relative;
    padding: 15px 0 0;
    margin-top: 15px;
    width: 85%;
    margin-left: 5vw;
}
.form-groupe p{
    display: inline-flex;
}

.delete{
    width: 15vw;
    height: 2vw;
    display: inline-block;
    padding: 3px 3px;
    border: 0.1em solid black;
    border-radius: 20px;
    margin: 3vw 0vw 1vw 7.5vw;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0em 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color:rgba(255, 0, 0, 0.6);
    transition: all 0.15s;
}
.delete:hover{
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
    color: black;
    border-color: white;
}
.edit_profil{
    margin-top: 1vw;
}
.edit_profil a:hover{
    color: white;
}
.edit_search{
    margin-top: 1vw;
    margin-left: -5vw;
    margin-right: 4vw;
}
.edit_search a:hover{
    color: white;
}
.alert-succes_edit{
    background-color: rgba(0, 255, 0, 0.6);
    color: white;
    padding: 1vw;
    width: 25vw;
    border-radius: 1vw;
    border: 1px solid white;
    margin-top: 4vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5vw;
    z-index: 0;
}