#container_profil{
    border-radius: 20px;
    background: rgb(217, 217, 217, 0.5);
    width: 30vw;
    height: 22vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vw;
    padding: 1vw;
    position: relative;
    z-index: 100;
}
