.container_index{
    border-radius: 20px;
    background: rgb(217, 217, 217, 0.5);
    width: 30vw;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vw;
    padding: 1vw;
    position: relative;
    z-index: 100;
}

#subscrib_index{
    width: 15vw;
    height: 2vw;
    display: inline-block;
    padding: 0.46 1.6em;
    border: 0.1em solid black;
    border-radius: 20px;
    margin: 3vw 0vw 0vw 4vw;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: 0em 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #4ef18f;
    transition: all 0.15s;
}

#subscrib_index:hover{
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
    color: white;
    border-color: white;
}

#connexion_index{
    width: 15vw;
    height: 2vw;
    display: inline-block;
    padding: 0.46 1.6em;
    border: 0.1em solid black;
    border-radius: 20px;
    margin: 3vw 0vw 0vw 4vw;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: 0em 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #4ef18f;
    transition: all 0.15s;
}

#connexion_index:hover{
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
    color: white;
    border-color: white;
}
#subscrib_index, #connexion_index{
    background-color:  rgb(217, 217, 217, 0.5);
}
#subscrib_index:hover, #connexion_index:hover{
    background-color: #4ef18f;
}