.container, .container1, .container_search, .container_button, .container_result, .titre{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: rgb(217, 217, 217, 0.5);
    z-index: 100;
    border-radius: 20px;
}
.subscription_co a:hover, .edit_co a:hover, h1, h2, h3, input:hover, .container_index a:hover, .subscrib:hover, .connec:hover, .connexion:hover, .alert-succes_co, .alert-danger_signup, .alert-danger_co, .alert-danger, .search_button:hover, .loisir_button:hover, .next:hover, .prev:hover, .edit_search a:hover, .edit_profil a:hover, .subscrib_index:hover, .connexion_index:hover, .disconnect:hover, .toggle_profil:hover, .edit_button:hover{
    color: white;
}
.subscrib_index a, .connexion_index a, .container_index, .container_edit, .alert-succes_edit, .container_profil, .edit_button, .alert-succes_co, .alert-danger_co, .alert-danger, .form-connect{
    margin-right: auto;
    margin-left: auto;
}
body{
    background-color: white;
    font-family: 'Alata', sans-serif;
}
#background{
    width: 100%;
    position: fixed;
    top: 4vw;
    z-index: -100;
}
h1, h3{
    text-align: center;
    font-family: 'Alata', sans-serif;
    text-shadow:0 0 3px #7A7A7A;
}
h2{
    text-align: center;
    font-family: 'Alata', sans-serif;
}
h1{
    font-size: 2vw;
}
hr {
    height: 5px;
    border: 0px;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
    border-radius: 30px;
  }
nav{
    height: 2vw;
    position: fixed;
}
#nav_header{
    top: 0vw;
    background-color: white;
    border-radius: 10px;
}
header nav ul li a:hover, h2{
    color: #7A7A7A;
}
nav ul li{
    list-style-type: none;
    display: inline-flex;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
}
#meetic{
    width: 10%;
    margin-top: 3px;
}
#bandeau{
    position: fixed;
    top: 4vw;
    z-index: -5;
    background-color: #e3ffff;
    padding: 3vw 0vw 3vw 0vw;
}
.container{
    width: 40vw;
    height: 38vw;
    margin-top: 6vw;
    padding: 2vw;
}
form{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    font-size: 0.8vw;
}
select{
    font-family: inherit;
    width: 82.5%;
    border: 5px;
    border-bottom: 2px solid gray;
    outline: 0px;
    font-size: 1rem;
    color: black;
    padding: 7px 0px;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
}
input{
    font-family: inherit;
    width: 80%;
    border: 5px;
    border-bottom: 2px solid gray;
    font-size: 1rem;
    color: black;
    padding: 5px 3px;
    background: transparent;
}
input:hover{
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
}
a{
    text-decoration: none;
    color: black;
    margin-left: 5vw;
}
#naissance{
    color: rgba(0, 0, 0, 0.5);;
}
.form-section{
    display: flex;
}
.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}
.form-group label{
    width: 150px;
    color: black;
}
.form-group input{
    margin-top: 5px;
}
#loisir1, #loisir2, #loisir3{
    margin-top: 20px;
    margin-right: 3.5vw;
    width: 41.5%;
}
.subscrib{
    width: 15vw;
    height: 2vw;
    display: inline-block;
    padding: 1px 2px;
    border: 0.1em solid black;
    border-radius: 20px;
    margin: 0vw 0vw 0vw 12vw;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: 0em 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #4ef18f;
    transition: all 0.15s;
}
.subscrib:hover{
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
    border-color: white;
}
.connec{
    margin-left: 32vw;
}
.alert-danger, .alert-danger_co, .alert-danger_signup{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 1vw;
    width: 25vw;
    border-radius: 1vw;
    border: 1px solid white;
    z-index: 0;
}
.alert-danger{
    margin-top: 3vw;
    position: fixed;
}
.alert-danger_co{
    margin-top: 1vw;
}
.alert-danger_signup{
    margin-top: -10.5vw;
    margin-left: 6.5vw;
    position: fixed;
}
.alert-succes_co{
    background-color: rgba(0, 255, 0, 0.5);
    padding: 1vw;
    width: 25vw;
    border-radius: 1vw;
    border: 1px solid white;
    margin-top: 3vw;
    z-index: 0;
}
footer nav{
    height: 1.5vw;
    bottom: 0vw;
    background: #e3ffff;
    width: 100%;
}
footer nav p{
    margin: 2px 0px 0px 15px;
}