.subcription{
    margin-left: 25vw;
}
.container1{
    border-radius: 20px;
    width: 30vw;
    height: 22vw;
    margin-top: 12vw;
    padding: 1vw;
}
.form-connect{
    position: relative;
    padding: 15px 0 0;
    margin-top: 15px;
    width: 50%;
}
.connexion:hover{
    text-shadow: 0em 0em 2em rgba(255, 255, 255, 1);
    border-color: white;
}
.subscription_co{
    margin-left: 2vw;
    margin-top: 2vw;
}
.edit_co{
    margin-top: 2vw;
    margin-left: -3vw;
}